Package: com.mtac.ampere
Name: Ampere
Version: 1.4
Architecture: iphoneos-arm
Description: iOS16 电池百分比风格！
Maintainer: MTAC
Author: MTAC
Section: Tweaks
Depends: mobilesubstrate, firmware (>= 15.0), preferenceloader
